<footer class="footer footer-black  footer-white " style="z-index:2000">
  <div class="container-fluid">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="" target="_blank">Challengers Club at Facebook</a></li> |
          <li><a href="" target="_blank">Pragmatech at Facebook</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          © <script>
            document.write(new Date().getFullYear())
          </script> Pragmatech
        </span>
    </div>
  </div>
</footer>
