{% load static %}
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="#" class="simple-text logo-mini ">
          <div class="logo-image-small">
            <!-- <img src="{% static '/dashboard/assets/img/logo-small.png' %}"> -->
            <img src="{{user.get_user_avatar}}">
          </div>
        </a>
        <a href="#" class="simple-text logo-normal">
          <small>{{ user.username }}</small>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li {% if request.path == '/dashboard/' %} class='active' {% endif %}>
            <a href="{% url 'dashboard:dashboard' %}">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li {% if request.path == '/dashboard/settings/profile/' %} class='active' {% elif request.path == '/dashboard/settings/admin/' %} class='active' {% elif request.path == '/dashboard/settings/security/' %} class='active'  {% endif %}>

            <a href="{% url 'account:user-profile' %}">
              <i class="nc-icon nc-single-02"></i>
              <p>Settings</p>
            </a>
          </li>


        </ul>
      </div>
    </div>
