{% extends 'base.html' %}
{% load static %}
{% block title %}
  Login | Challengers Club
{% endblock title %}
{% block full-content %}
<!-- Login Form -->
<div class="login-form py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-sm">
          <span class="shape"></span>
          <div class="card-header text-center bg-transparent">
            <img class='d-flex' src="{% static 'img/logo.svg' %}" alt="Image not found :/">

            <h2 class='mt-3'>Login</h2>
          </div>
          <div class="card-body py-4">
            <form action = {% url 'account:login' %} method='POST'>
              {% csrf_token %}
              <div class='signin-errors-container'>
                {% if form.non_field_errors %}
                  <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="name">Email</label>
                {{ form.username }}
              </div>
              <div class="form-group">
                <label for="name">Password</label>
                {{ form.password }}
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember me</label>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn">Submit</button>
              </div>
            </form>
            <a href="{% url 'challengers:index' %}" class="d-flex justify-content-end">Back to home page</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Login Form -->
{% endblock full-content %}
